* {
  margin: 0;
}
#loading {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .65);
  text-align: center;
  color: #ffffff;
}
#content{
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
}
.loader {
  margin: 0 auto;
  margin-top: 30px;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#map {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#info {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 10px;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
}
